<h1>Artist: <%= @artist.name %></h1>

<h3>Los albumes de este artista son:</h3>

<!-- Que es el problema de query N+1 -->
<ul>
  <% @artist.albums.each do |album| %>
    <li><%= album.name %></li>
    <div>Que incluye la(s) canción(es)</div>
    <ul>
      <% album.songs.each do |song| %>
        <li><%= song.name %></li>
      <% end %>
    </ul>
  <% end %>
</ul>
<div><%= link_to "Back", artists_path %></div>


